@font-face {
  font-family: "FS Joey Regular";
  font-weight: 400;
  src: url("./fonts/regular/FSJoeyWeb-Regular.woff2") format("woff2"),
    url("./fonts/regular/FSJoeyWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "FS Joey Light";
  font-weight: 300;
  src: url("./fonts/light/FSJoeyWeb-Light.woff2") format("woff2"),
    url("./fonts/light/FSJoeyWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "FS Joey Medium";
  font-weight: 600;
  src: url("./fonts/medium/FSJoeyWeb-Medium.woff2") format("woff2"),
    url("./fonts/medium/FSJoeyWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "FS Joey Bold";
  font-weight: 700;
  src: url("./fonts/bold/FSJoeyWeb-Bold.woff2") format("woff2"),
    url("./fonts/bold/FSJoeyWeb-Bold.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-color: #1a482b;
  --overlay: #f5f6f8;
  --content: #515962;
  --primary: #3a3a3a;
}

body {
  font-family: "FS Joey Regular" sans-serif;
  color: #3a3a3a;
}

.holder {
  @apply mx-auto max-w-siteWidth px-6 md:px-12;
}

.read-more-btn {
  cursor: pointer;
  font-size: 0.9375rem;
  padding-top: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: color 0.5s, transform 0.5s, 0.5s;
}
.read-more-btn:hover {
  color: #5b7c2a;
  transform: translateZ(0) translateX(0.3em);
}

@layer base {
  p {
    @apply text-content font-light;
  }
}

.before-shadow::before {
  @apply absolute bg-overlay content-[""] h-[97%] w-[80%] -left-12 -bottom-12 -z-10;
}
